@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.product-card{
    width:320px;
    color:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.3s ease;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(0,0,0,0.25);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-content{
    padding:20px;
}

.product-content h2{
    color:#333;
    margin-bottom:10px;
}

.price{
    color:green;
    font-size:24px;
    font-weight:600;
    margin-bottom:10px;
}

.description{
    color:#636769;
    font-size:14px;
    line-height:1.6;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#007bff;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#0056b3;
}