@use 'responsive' as *;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}